<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">

    <script src="static/js/util.js"></script>
    <title>Q&A system</title>
</head>

<body>
    <div class="bg">
        <div class="main" align="center">
            <h1 class="main-title" id="Title">EE3080: Question & Answering System</h1>
            <form class="form-input">

                <!--Paragraph Textbox-->
                <h2 class="title" style="margin-top: 30px"><i class="fas fa-file-alt"></i> &nbsp;Paragraph</h2>
                <textarea class="form-control" id="Paragraph" placeholder="Paragraph"
                    style="height: 200px; width: 600px" required autofocus></textarea>

                <!--First Q Textbox-->
                <h2 class="title" style="margin-top: 30px"><i class="fas fa-pen"></i> &nbsp;Question 1:</h2>
                <textarea class="form-control" id="Q1" placeholder="Question 1" style="height: 70px; width: 600px"
                    required></textarea>
                <!--First A Textbox-->
                <div>
                    <h2 class="title" style="margin-top:10px"><i class="fas fa-lightbulb" style="margin-left:-10px"></i>
                        &nbsp;&nbsp;Answer 1:</h2>
                    <textarea class="form-control" id="A1" style="height:70px; width:600px" readonly></textarea>
                </div>

                <!--Second Q Textbox-->
                <h2 class="title" style="margin-top: 50px"><i class="fas fa-pen"></i> &nbsp;Question 2:</h2>
                <textarea class="form-control" id="Q2" placeholder="Question 2"
                    style="height: 70px; width: 600px"></textarea>
                <!--Second A Textbox-->
                <div>
                    <h2 class="title" style="margin-top:10px"><i class="fas fa-lightbulb" style="margin-left:-10px"></i>
                        &nbsp;&nbsp;Answer 2</h2>
                    <textarea class="form-control" id="A2" style="height:70px; width:600px" readonly></textarea>
                </div>

                <!--Third Q Textbox-->
                <h2 class="title" style="margin-top: 50px"><i class="fas fa-pen"></i> &nbsp;Question 3:</h2>
                <textarea class="form-control" id="Q3" placeholder="Question 3"
                    style="height: 70px; width: 600px"></textarea>
                <!--Third A Textbox-->
                <div>
                    <h2 class="title" style="margin-top:10px"><i class="fas fa-lightbulb" style="margin-left:-10px"></i>
                        &nbsp;&nbsp;Answer 3</h2>
                    <textarea class="form-control" id="A3" style="height:70px; width:600px" readonly></textarea>
                </div>

                <!--Button "submit"-->
                <button class="login-button" type="button" onclick="submitQuestion()"
                    style="margin-top: 30px; margin-bottom: 60px">
                    <i class="fas fa-search"></i>
                    &nbsp;Find Answers
                </button>
            </form>
        </div>
    </div>

</body>

</html>